*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    /* 1rem = 16px (User Agent) = 100% (user Agent)*/
	font-size: 62.5%; /*= 10px*/
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #90908d;

  
}

header {
    width: 100%;
    height: 6rem;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
h1{
    font-size: 3rem;
    font-weight: 800;
}
h2{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}


.btn {
    background-color: black;
    cursor: pointer;
    padding: 1rem 5rem 1.5rem;
    margin: 5rem 1rem;
    line-height: 2.5rem;
    color: white;
    font-size: 2.5rem;
    border-radius: .6rem;
    border: none;
    
}
.btn:hover{
    background: rgb(85, 79, 79);
}


.box-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5em);
    transition: opacity 300ms ease, transform 300ms ease;
}
.box-modal.mostrar {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


.modal {
    position: relative;
    width: 50em;
    padding: 3em;
    border-radius: 2em;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnFechar {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-weight: 700;
    padding: .7rem 1rem;
    border-radius: 10rem;
    border: none;
    background: rgb(230, 21, 32);
    color: white;
    cursor: pointer;
}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 2em 0;
}
input {
    font-size: 1.8rem;
    padding: 0.7em;
    width: 45%;
    border-radius: 1rem;
    border: none;
}
textarea {
    width: 41rem;
    padding: 1em;
    border: none;
    border-radius: 1rem;
}
.btnMod {
    margin: 0;
    padding: 1rem 4rem;
    background: #3a3737;
    color: white;
    font-size: 1.8rem;
    border-radius: .6rem;
    border: none;
    cursor: pointer;
}

@media (max-width: 690px){
    header {
        width: 100%;
        height: 10rem;
        background: rgb(0, 0, 0);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    h1 {
        font-size: 2.2rem;
    }

    .btn {
        background-color: black;
        cursor: pointer;
        padding: .5rem 2rem 1rem;
        margin: 5rem 1rem;
        line-height: 3rem;
        color: white;
        font-size: 2.2rem;
        border-radius: .6rem;
        border: none;
    }

    .box-modal {
        width: 90%;
        height: 100vh;
    }
    .modal {
        position: relative;
        width: 100%;
        padding: 2rem;
        border-radius: 2em;
    }

    .btnFechar {
        top: 1.5rem;
        right: 1.5rem;
        font-weight: 700;
        padding: .5rem .4rem;
        
    }
    input {
        font-size: 1.5rem;
        padding: 1rem;
    }

    textarea {
        width: 90%;
        padding: 0.5rem;
    }
}